*.js linguist-language=javascript
*.html linguist-language=HTML
*.css linguist-language=CSS
*.less linguist-language=Less
*.scss linguist-language=SCSS
*.cs linguist-language=csharp
*.cshtml linguist-language=HTML+Razor
*.razor linguist-language=HTML+Razor
*.graphql GraphQL
*.proto linguist-language=Protocol Buffers
*.json linguist-language=JSON
*.xml linguist-language=XML 
*.xaml linguist-language=XML
*.axml linguist-language=XML
*.csproj linguist-language=XML
*.editorconfig linguist-language=EditorConfig
